.recipe-tiles-list__wrapper {
	height: auto;
	margin-left: 220px;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

.recipe-sorting__sort-wrapper {
	display: flex;
}

.recipe-sorting__sort-wrapper div {
	display: flex;
}