.recipe-tile__wrapper-container {
	display: inline-block;
}

.recipe-tile__wrapper {
	width: 300px;
	height: 300px;
	margin-left: 20px;
	margin-right: 20px;
	margin-top: 20px;
	margin-bottom: 20px;
	display: inline-block;
	/* flex-grow: 1; */
}

.recipe-tile__wrapper img {
	display: block;
	max-width:300px !important;
	max-height: 225px !important;
	width: auto !important;
	height: auto !important;
}

.recipe-tile__image-wrapper {
	cursor: pointer;
}

.recipe-tile__wrapper .recipe-tile__btn-wrapper {
	position: absolute !important;
	z-index: 1 !important;
	top: 0 !important;
	min-width: 32px !important;
	max-width: 32px !important;
	width: 64px !important;
	height: auto !important;
	right: 5px !important;
	padding: 5px !important;
}

.recipe-tile__wrapper .recipe-tile__btn-wrapper svg {
	width: 28px !important;
	height: 28px !important;
	fill:white;
	border-radius: 30px;
	background-color: #4F6E6D;
	opacity: 0.8;
}
