.recipe-tile__wrapper-container {
	display: inline-block;
}

.recipe-tile__wrapper {
	width: 300px;
	height: 300px;
	margin-left: 20px;
	margin-right: 20px;
	margin-top: 20px;
	margin-bottom: 20px;
	display: inline-block;
	/* flex-grow: 1; */
}

.recipe-tile__wrapper img {
	display: block;
	max-width:300px !important;
	max-height: auto !important;
	width: auto !important;
	height: auto !important;
}

.recipe-tile__image-wrapper {
	cursor: pointer;
}