.login-wrapper {
    display: flex;
    flex-direction: row;
    font-family: 'Times New Roman', Times, serif;
}

.login-wrapper .login-wrapper__left-side, .login-wrapper__form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1 1;
    font-size: 18px;
}

.login-wrapper__left-side {
    flex-basis: 50% !important;
    background: url('../../../../assets/imgs/login_background.jpg');
    background-size: cover;
    opacity: 0.7;
}

.login-wrapper__left-side .left-side-register {
    position: absolute;
    bottom: 0;
    font-size: 20px;
    color: white;
    transform: translate(-50%, -50%);
    cursor: pointer;
    opacity: 1;
}

.login-wrapper__form {
    height: 100vh;
}

.login-wrapper__form .form-fieldset {
    margin-top: 20px;
}

.login-wrapper__form .form-login-btn {
    display: flex;
    justify-content: center; /* For horizontal alignment */
    align-items: center; /* For vertical alignment */
    margin-top: 30px;
}

.login-wrapper__form .form-forgot-password {
    text-align: center;
    margin-top: 10px;
    font-size: 14px;    
}