.recipe-details__modal-wrapper {
	max-height: 450px;
}

.recipe-details__modal-wrapper > div > div {
	overflow-y: auto !important;
	overflow-x: hidden !important;
}

.recipe-details__title h1 {
	font-size: 24px;
}

.recipe-details__header-buttons {
	float: right;
	display: flex;
}

.recipe-details__rating-wrapper {
	float: right;
	margin-top: 6px;
}

.header-buttons__export-pdf .fa-save, .header-buttons__send-by-email .fa-envelope {
	color: rgb(0, 188, 212) !important;
}

.email-popover__wrapper {
	display: flex;
    flex-direction: column;
	align-items: center;
	width: 200px;
}

.email-popover__email-input > div{
	margin-top: 10px;
	margin-bottom: 10px;
	width: 160px !important;
}

.email-popover__send-email-btn {
	margin-bottom: 10px;
}

.recipe-details__header-wrapper {
	display: flex;
	margin-top: 25px;
	margin-bottom: 15px;
}

.recipe-details__header-wrapper .recipe-picture {
	display: flex;
}

.recipe-details__header-wrapper .recipe-picture img {
	width: 100%;
	height: auto;
	border-radius: 5px;
}


.recipe-details__header-wrapper .recipe-information-wrapper {
	display: flex;
}


.recipe-details__header-wrapper .recipe-cooking-time {
	display: flex;
	margin-left: 15px;
}

.recipe-details__header-wrapper .recipe-servings {
	display: flex;
	margin-left: 30px;
}

.recipe-details__header-wrapper .recipe-stars-number {
	display: flex;
	margin-left: 30px;
}

.recipe-details__header-wrapper .recipe-nutrients-wrapper {
	display: flex
}

.recipe-details__header-wrapper .recipe-calories {
	display: flex;
	margin-left: 15px;
	margin-top: 25px;
}

.recipe-details__header-wrapper .recipe-carbs,
.recipe-details__header-wrapper .recipe-protein, .recipe-details__header-wrapper .recipe-fat {
	display: flex;
	margin-left: 30px;
	margin-top: 25px;
}

.recipe-details__section-wrapper {
	margin-bottom: 15px;
}

.recipe-details__section-wrapper .recipe-details__section-title {
	text-align: center;
}

.recipe-details__section-wrapper .recipe-details__section-title h1{
	font-size: 24px;
}

.recipe-details__section-item {
	font-size: 14px;
	padding-top: 8px;
}

.recipe-details__section-item .ingredient-item-unit, .recipe-details__section-item .ingredient-item-amount {
	margin-left: 5px;
}

.recipe-details__section-item .ingredient-item-name {
	color: #ADAD68;
	margin-left: 5px;
	font-style: italic;
}

.recipe-details__section-item .step-description {
	margin-left: 5px;
}

/* .recipe-details__add-review-btn-wrapper {
	width: 100%;
	margin: 35px 0px 0px 0px;
	display: flex;
	justify-content: center;
	align-items: center;
	
} */

.recipe-details__add-review-wrapper h1 {
	font-size: 14px;
}

.recipe-details__add-review-wrapper {
	font-size: 12px;
}

.add-review-input, .add-review-textarea {
    display: block;
    margin-top: 2px;
    padding: 5px 5px 5px 10px;
    border-radius: 3px;
    border: 0px;
	box-sizing: border-box;
	border-radius: 3px;
	border: 1px solid #D3D3D0;
	width: 200px;
}

.add-review-textarea {
    height: 100px;
}

.add-review-fieldset {
    padding-top: 15px;
}

.add-review-label {
    font-weight: bold;
}

.add-review-btn-wrapper {
	margin-top: 15px;
	margin-bottom: 15px;
}

.recipe-details__recommended-recipes-wrapper {
	margin-top: 20px;
}